/*
  - This sheet serve the styling purpose for the website.
  - All the rules defined here are general representations of the styles.
  - You are welcome to create different stylesheets for anyhing complex and specific fot some page.
  - Every block is commented with starting and ending comment:
    for example:
      \/\* <block> rules
        ....rules....
        all the rules for <block> styles are to be written within it
        it makes them easier to maintain and finding
        so your help is apppreciated
      \*\/ <block> rules ends here
*/

/* Full body rules */

:root {
  font-size: 1em;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #eeeeee;
}

/*Full Body ends here*/

/* Header Modification*/
.topHeader {
  padding-top: 1em;
}

.logo {
  float: left;
  padding-left: 1em;
  width: 7em;
}

.topHeader ul {
  float: right;
  padding: 1em;
}

.nav li {
  display: inline-block;
}

.nav a {
  font-size: 1rem;
  color: #222831;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
  padding: 1em;
  text-decoration: none;
}

.nav a:hover {
  color: #eeeeee;
  border-radius: 1em;
  text-decoration: none;
  background-color: #393e46;
}

.topHeader h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4rem;
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
}

/*Top header rules ends here*/

/*image crousel rules*/

.crousel {
  width: 100%;
}

/*image crousel rules ends here*/

/*General moto styles*/

.moto {
  background-color: #00adb5;
  color: #eeeeee;
}

.moto h4 {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.moto p {
  padding: 1em 1em;
  font-size: 1rem;
  text-align: center;
  font-weight: lighter;
}

.article-container {
  overflow: hidden;
  border: 1px solid red;
}

.article-content {
  margin: 20px 1.15%;
  background-color: #393e46;
  float: left;
  width: 30vw;
  height: 30vh;
}

/* moto styles ends here*/

/* footer styles starts here*/

/*.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 1em;
  color: #eeeeee;
  background: linear-gradient(to bottom right, #222831 0%, #eeeeee 100%);

}

.footer h4 {
  font-size: 2rem;
}

.footer li {
  list-style: none;
  padding: .2em;
}*/

/* footer styles ends here*/
