/*
  - This sheet serve the styling purpose for the website.
  - All the rules defined here are general representations of the styles.
  - You are welcome to create different stylesheets for anyhing complex and specific fot some page.
  - Every block is commented with starting and ending comment:
    for example:
      \/\* <block> rules
        ....rules....
        all the rules for <block> styles are to be written within it
        it makes them easier to maintain and finding
        so your help is apppreciated
      \*\/ <block> rules ends here
*/

/* Full body rules */

:root {
  font-size: 1em;
  box-sizing: border-box;
}

*,
::after,
::before {
  margin: 0;
  box-sizing: inherit;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #eeeeee;
}

/*Full Body ends here*/

/* Header Modification*/
.topHeader {
  background-color: #393e46;
}

/*.logo {
  float: left;
  padding-left: 1em;
  width: 7em;
}*/

.topHeader ul {
  float: right;
  padding: 1em;
}
nav {
  background-color: #222831;
  overflow: hidden;
}
.nav li {
  display: inline-block;
}

.nav a {
  font-size: 1rem;
  color: #eeeeee;
  font-family: "Trebuchet MS";
  font-weight: 600;
  padding: 1em;
  text-decoration: none;
}

.nav a:hover {
  color: #00adb5;
  text-decoration: none;
}

.topHeader h1 {
  color: #eeeeee;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 4rem;
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
  font-weight: lighter;
}

/*Top header rules ends here*/

/*image crousel rules*/

.artboard .cards {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}
.artboard .cards .card {
  min-width: calc(25%);
  min-height: 100%;
  text-align: center;
  background-size: content;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 500ms cubic-bezier(1, 0.02, 0, 0.98);
  vertical-align: middle;
}
.artboard .cards .card a {
  font-family: "Satisfy", cursive;
  font-size: 60px;
  text-transform: capitalize;
  vertical-align: middle;
  text-align: center;
  position: relative;
  top: 50%;
  transition: 250ms cubic-bezier(1, 0.02, 0, 0.98);
}
.artboard .p1 {
  background: url("https://images.unsplash.com/photo-1551326844-4df70f78d0e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1226&q=80");
}
.artboard .p2 {
  background: url("https://images.unsplash.com/photo-1543965860-82ed7d542cc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1342&q=80");
}
.artboard .p3 {
  background: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.artboard .p4 {
  background: url("https://images.unsplash.com/photo-1548013146-72479768bada?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80");
}

.artboard a {
  padding-bottom: 0.714em !important;
  padding-top: 0.714em !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.open {
  min-width: 100% !important;
}
.open a {
  top: 100% !important;
}

.close {
  min-width: 0% !important;
}
.close a {
  top: -50% !important;
}
/*image crousel rules ends here*/

/*General moto styles*/

.moto {
  margin: 4em auto;
}

.moto h4 {
  text-align: start;
  font-size: 1.5rem;
  font-weight: normal;
}

.moto p {
  padding: 1em 1em;
  font-size: 1rem;
  text-align: left;
  font-weight: lighter;
}

.article-container {
  display: flex;
  justify-content: center;
}

.article-content {
  margin-left: 0.5em;
  border-right: #222831 dotted;
}
.article-content:first-child {
  color: #222831;
}
.article-content:last-child {
  color: #222831;
  border: none;
}

/* moto styles ends here*/

/*Second Section style*/

.informative-section {
  color: #dad3df;
  background-color: #393e46;
  font-size: 2em;
  margin: 12px auto;
  border: #222831 0.5px solid;
  border-radius: 1px;
  width: 70%;
  text-align: center;
}
.informative-section p {
  padding: 0.5em;
}

/*second section ending*/

/* footer styles starts here*/

      #subfoot ul
          {
            display: inline-block;
           text-align: center;
            list-style: none;
           }

        #subfoot{
            BAckground-color:#393e46;
            min-height :12em;
            display:flex;
            color:white;
            text-align:center;
            padding:20px;

        }

        #subfoot ul li{
            padding:8px;
           padding-right:40px;
            

        }
        #subfoot h2{
            display:block;
            
            
        }


        #mainfoot{
            background-color: #222831;
            min-height: 10em;
            margin:0;
            padding:20px;
            color:white;
            
        }
        #mainfoot h2 {
            display: inline-block;
            padding: 10px 40px;
        
        }
        #mainfloat{
            float:right;
            padding: 20px 30px;

        }
        #mainfoot p {
            
            padding: 10px 40px;
        }

        #mainfloat li{
            padding:10px;
            background-color: aliceblue;
            border:1px solid wheat;
            border-radius:1em;
            font-size: 120%;
            text-align: center;
            color:black;
            
        }
/* footer styles ends here*/

@media only screen and (min-width: 900px) {
  .section {
    width: 50vw;
    height: 100vw;
  }
}

/* Login.html styles */

.login-wrapper {
  display: flex;
  justify-content: flex-start;
}

.login-section {
  background-color: #393e46;
}
.info-section {
  background-color: #00adb5;
}
